/* display classes */
.df{display: flex;}
.db{display: block;}
/* Flex Classes */
.fdr{flex-direction: row;} /*direction*/
.fdrr{flex-direction: row-reverse;}
.fdc{flex-direction: column;}
.fdcr{flex-direction: column-reverse;}
.df-fdr{display: flex; flex-direction: row;} /*flex + direction*/
.df-fdrr{display: flex; flex-direction: row-reverse;}
.df-fdc{display: flex; flex-direction: column;}
.df-fdcr{display: flex; flex-direction: column-reverse;}
.f-a{flex: auto;}
/* border settings */
/* border style */
.bss{border-style: solid;}
.bsd{border-style: dotted;}
.bsd{border-style: dashed;}
.bsg{border-style: groove;}
.bsh{border-style: hidden;}
.bsr{border-style: ridge;}
/* border color */
.bcred{border-color: red;}
.bcgreen{border-color: green;}
.bcblue{border-color: blue;}
.bcyellow{border-color: yellow;}
.bcorange{border-color: orange;}
.bcpink{border-color: pink;}
.bcpurple{border-color: purple;}
.bcwhite{border-color: white;}
.bcblack{border-color: black;}
/* border width */
.bw1px{border-width: 1px;}
.bw2px{border-width: 2px;}
.bw3px{border-width: 3px;}
.bw4px{border-width: 4px;}
.bw5px{border-width: 5px;}
.bw6px{border-width: 6px;}
.bw7px{border-width: 7px;}
.bw8px{border-width: 8px;}
.bw9px{border-width: 9px;}
.bw10px{border-width: 10px;}
/* border radius */
.br1px{border-radius: 1px;}
.br2px{border-radius: 2px;}
.br3px{border-radius: 3px;}
.br4px{border-radius: 4px;}
.br5px{border-radius: 5px;}
.br10px{border-radius: 10px;}
.br20px{border-radius: 20px;}
.br25px{border-radius: 25px;}
.br50px{border-radius: 50px;}
